---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="RDS Deportes" desc='Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. Además de esto Disertante en seminarios, cursos y congresos deportivos.'>
<main class="md:mx-8">
<div class="container md:p-20 mx-auto text-black text-xl md:text-2xl">
    <h1 class="text-6xl py-4 font-bold">Biografia</h1>
    <h2 class="text-4xl">RDS Deportes es el sitio web del Lic. Prof. Rubén Darío Subeldía</h2>
    <br>
    <ul class="list-disc">
    <li>Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. Además de esto Disertante en seminarios, cursos y congresos deportivos.</li>
<br>
    <li> Nacido el 11 de Abril de 1961 en Yataity del Guaira-Paraguay, con su sueño de salir adelante, ayudar a su familia  y llegar a ser una persona destacada en el deporte migra a la capital del país para empezar sus estudios en la Escuela de Educación Física recibiéndose así de Prof. Superior de Educ. Física y Sanitaria  en el Año 1982.</li>
<br>
    <li>Prosiguiendo con sus estudios se especializa en Tecnicaturas Deportivas obteniendo el Título de Licenciado en Ciencias de la Educación. Amén de asistencias a Cursos, Jornadas Pedagógicas, Talleres y Seminarios de actualización en Ciencias del Deporte  y Alto Rendimiento en países como Argentina, Brasil, Chile, Colombia, México, Uruguay, Venezuela, España, otros .</li>
</ul>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 py-12">
    <div class="bg-stone-900 shadow-md p-8 transition duration-500 transform hover:-translate-y-2"> <i class="fa-solid fa-file text-4xl text-yellow-500 mb-6" aria-hidden="true"></i> <h3 class="text-xl font-semibold mb-4">Curriculum Vitae</h3> <p class=" text-gray-300">Estrategias de marketing digital para aumentar la visibilidad y el alcance de tu marca. Desde SEO y SEM hasta campañas en redes sociales.</p> <a href="/contacto" class="block mt-8 text-yellow-500 hover:underline">Más información <i class="fas fa-chevron-right" aria-hidden="true"></i></a> </div>
</div>
</main>
</Layout>