---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Article from '../components/Article.astro';
import Videos from '../components/Videos.astro'
import Galeria from '../components/Galeria.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="RDS Deportes" desc='Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. Además de esto Disertante en seminarios, cursos y congresos deportivos.'>
<Hero/>
<main class="md:mx-8">
<Article/>
<Videos/>
<Galeria/>
</main>
<Contacto/>
</Layout>