---
import CardArt from "./CardArt.astro"
---
<h3 class="text-black text-center text-4xl mt-8 font-bold">Informaciones y articulos</h3>
<section class="container mx-auto grid grid-col items-center sm:grid-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center my-5">
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero2.jpg"/>
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero1.jpg"/>
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero3.jpg"/>
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero2.jpg"/>
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero4.jpg"/>
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero5.jpg"/>
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero6.jpg"/>
    <CardArt url="#" title="La PLANIFICACION desde la Táctica Aula Extensiva Sede LIMPIO" desc="Tema 1. Intencionalidad del entrenador" img="/img/hero3.jpg"/>

</section>