<footer class="w-full bg-[#13151a] text-white"> 
    <div class="container mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-3 justify-between"> 
        <div> 
            <a href="#">
<img src="/img/logo.png" alt=""> </a>


</div> 

<div class="md:col-span-2"> 
    <div class="flex justify-around flex-wrap"> 
        <div> 
            <h3 class="text-xl font-semibold">Links </h3> 
            <ul class="mt-4 space-y-2"> <li><a href="/sobre-nosotros" class="hover:underline text-gray-400">Inicio</a></li> <li><a href="/tienda" class="hover:underline text-gray-400">Articulos</a></li> <li><a href="/servicios" class="hover:underline text-gray-400">Noticias</a></li> <li><a href="/contacto" class="hover:underline text-gray-400">Videos</a></li> <li><a href="/contacto" class="hover:underline text-gray-400">Contacto</a></li></ul> 
        </div> 
        <div> 
            <h3 class="text-xl font-semibold">Biografia</h3> 
            <ul class="mt-4 space-y-2"> <li><a href="/sobre-nosotros" class="hover:underline text-gray-400">Curriculum Vitae</a></li> <li><a href="/tienda" class="hover:underline text-gray-400">Futsal</a></li> <li><a href="/servicios" class="hover:underline text-gray-400">Fútbol de Campo</a></li> <li><a href="/contacto" class="hover:underline text-gray-400">Instructor</a></li><li><a href="/contacto" class="hover:underline text-gray-400">Participante</a></li> </ul> 
        </div> 
        <div> 
            <h3 class="text-xl font-semibold">Mi sistema</h3>
             <ul class="mt-4 space-y-2"><li><a href="/FAQ" class="hover:underline text-gray-400">  Mi Estilo de Trabajo</a></li> <li><a href="/FAQ" class="hover:underline text-gray-400"> Fundamentación teorica.</a></li> <li><a href="/sobre-nosotros" class="hover:underline text-gray-400">La Estructuración del Equipo</a></li> <li><a href="/politica-de-privacidad" class="hover:underline text-gray-400">Modelo de Juego que apasiona</a></li> <li><a href="/terminos-y-condiciones" class="hover:underline text-gray-400"> Metodología de Preparación</a></li> </ul>
             </div>
              <div class="mt-4 md:mt-0"> 
                <h3 class="text-xl font-semibold">Suscríbete</h3> 
                <p>Sucribite y recibi nuestras ofertas y noticias por correo.</p>
                <form action="https://formsubmit.co/bytechpy@gmail.com" method="POST" class="mt-4"> <input type="email" name="email" placeholder="Tu correo electrónico" class="mt-1 p-2 w-full text-gray-800 rounded-md" required=""> <button type="submit" class="w-full mt-3 bg-red-600 hover:bg-red-600 text-white p-2 rounded-md">Suscríbete</button> </form> 
            </div> 
        </div> 
    </div> 
</div> 
<div class="text-center p-4 bg-zinc-950 mt-8"> <p class="text-gray-400">©RDS Deportes 2024. Todos los derechos reservados.</p> </div> </footer>