
<link
  crossorigin="anonymous"
  href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.css"
  rel="stylesheet"
/>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<style>
   
  .swiper-pagination {
    bottom: 0;
    position: relative;
  }
  .swiper-container {
    overflow: hidden;
  }

</style>
<div class="bg-no-repeat bg-cover bg-center relative max-sm:py-10" style="background-image:url('/img/hero1.jpg');">
    <div class="absolute bg-gradient-to-r from-gray-900 to-gray-900 opacity-85 inset-0 z-0"></div>
    <div class="min-h-screen flex justify-center items-center">
      <div class="md:grid md:grid-cols-1 xl:grid-cols-2 flex flex-col-reverse gap-4 items-center z-10 md:py-0 container md:mx-auto">
        <div class="text-center md:text-left">
          <h2 class="text-5xl font-bold text-gray-100 tracking-tight">
            Bienvenidos a RDS Deportes <br class="hidden md:block lg:hidden"> 
          </h2>
          <p class="mt-4 text-gray-300 text-2xl">
           Con el fin de brindarles información a los profesionales en el área del deporte materiales que puedan apoyar su trabajo de formar atletas de nivel elite, creemos que si los profesionales crecen en sus conocimientos y poseen un mayor apoyo el deporte paraguayo podría ir creciendo exitosamente con sus atletas y para los estudiantes, que esto sea un guía para  cuando se inserten en la vida laboral. A los alumnos, amigos, colegas, profesionales, dirigentes… Muchas gracias por su visita. 
          </p>
          <div class="flex flex-row items-center justify-center md:justify-start space-x-3 mt-5">
            <a href="https://www.facebook.com/RdsDeportes/" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-blue-600 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-facebook-square"></i></a>
            <a href="https://twitter.com/RDS_Deportes" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-black hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-x-twitter"></i></a>
            <a href="https://www.youtube.com/rubdse" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-red-600 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/rdsdeportes/" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-fuchsia-600 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/rdsdeportes" target="_blank" class="w-10 h-10 items-center justify-center inline-flex rounded-2xl font-bold text-lg  text-white bg-blue-500 hover:drop-shadow-lg cursor-pointer transition ease-in duration-300"><i class="fab fa-linkedin"></i></a>
          </div>
      </div>

      <div class="w-full md:max-w-xl mx-auto flex rounded-2xl swiper bg-red-900 overflow-hidden">

        <div class="swiper-container flex-col flex self-center">
          <div class="swiper-wrapper">
        <div class="swiper-slide">
          <blockquote class="text-left ">
            <div class="relative">
              <div class="relative">
              <img
                src="/img/hero6.jpg"
                alt="aji"
                class="object-cover w-full h-60 mx-auto rounded-t-2xl"
              />
             <div class="rounded-t-2xl absolute bg-gradient-to-t from-gray-800 opacity-75 inset-0 z-0"></div>
             </div>
            </div>

             <div class="relative m-5 p-5">

              <p class="text-gray-100 text-xl px-5">
                RDS Deportes es el sitio web del Lic. Prof. Rubén Darío Subeldía.
              Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. 
              </p>
    
             <div class="text-sm mt-5 mx-5 text-right">
              <a href="#" class="bg-white hover:bg-gray-300 text-black px-4 py-2 rounded-full focus:outline-none focus:ring-2 transform hover:scale-105 transition-transform duration-300 ease-in-out focus:ring-red-400">Leer mas</a>
            </div>
            </div>

          </blockquote>
        </div>

        <div class="swiper-slide">
          <blockquote class="text-left">
            <div class="">
                <div class="relative">
              <img
                src="/img/hero3.jpg"
                alt="aji"
                class="object-cover w-full mx-auto rounded-t-2xl h-60"
              />
              <div class="rounded-t-2xl absolute bg-gradient-to-t from-gray-800 opacity-75 inset-0 z-0"></div>
             </div>
            </div>

            <div class="relative m-5 p-5">

              <p class="text-gray-100 text-xl px-5">
                RDS Deportes es el sitio web del Lic. Prof. Rubén Darío Subeldía.
              Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. 
              </p>

<div class="text-sm mt-5 mx-5 text-right">
  <a href="#" class="bg-white hover:bg-gray-300 text-black px-4 py-2 rounded-full focus:outline-none transform hover:scale-105 transition-transform duration-300 ease-in-out focus:ring-2 focus:ring-red-400">Leer mas</a>
</div>
            </div>

          </blockquote>
        </div>

        <div class="swiper-slide">
          <blockquote class="text-left">
            <div class="">
               <div class="relative">
              <img
                src="/img/hero5.jpg"
                alt="aji"
                class="object-cover w-full mx-auto rounded-t-2xl h-60"
              />
              <div class="rounded-t-2xl absolute bg-gradient-to-t from-gray-800 opacity-75 inset-0 z-0"></div>
             </div>
            </div>

            <div class="relative m-5 p-5">

<p class="text-gray-100 text-xl px-5">
  RDS Deportes es el sitio web del Lic. Prof. Rubén Darío Subeldía.
Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. 
</p>

            <div class="text-sm mt-5 mx-5 text-right">
                <a href="#" class="bg-white hover:bg-gray-300 text-black px-4 py-2 rounded-full transform hover:scale-105 transition-transform duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-red-400">Leer mas</a>
              </div>
            </div>

          </blockquote>
        </div>

      </div>


    </div>
      </div>
    </div>

    
   
  </div>
</div>
</div>
<script
  crossorigin="anonymous"
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.3.2/swiper-bundle.min.js"
></script>

<script type="module">
    
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.swiper-container', {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 8,
      autoplay: {
        delay: 4000,
      },

      breakpoints: {
        640: {
          slidesPerView: 1.5,
        },
        1024: {
          slidesPerView: 1,
        },
      },
    })
  })
</script>
