<div class="flex flex-wrap justify-center text-center mb-8">
    <div class="w-full md:w-1/4 p-4">
      <div class="counter">
        <i class="fa-solid fa-book fa-2x"></i>
        <p class="count-text mt-2">+500 Libros disponibles</p>
      </div>
    </div>
    <div class="w-full md:w-1/4 p-4">
      <div class="counter">
        <i class="fa-solid fa-desktop fa-2x"></i>
        <p class="count-text mt-2">+5 Computadoras disponibles</p>
      </div>
    </div>
    <div class="w-full md:w-1/4 p-4">
      <div class="counter">
        <i class="fa-solid fa-clock fa-2x"></i>
        <p class="count-text mt-2">Sábados de 8:00 a 17:00</p>
      </div>
    </div>
    <div class="w-full md:w-1/4 p-4">
      <div class="counter">
        <i class="fa-solid fa-location-dot fa-2x"></i>
        <p class="count-text mt-2">Dr. Valentin Rebull 165, San Lorenzo</p>
      </div>
    </div>
  </div>