---
import Video from "./Video.astro"
---
<h3 class="text-black text-center text-3xl mt-8 font-bold my-5">Videos Informativos</h3>
<section class="grid grid-cols-1 md:grid-cols-2 gap-5 container mx-auto justify-center items-center">
<Video />
</section>